/** @format */

@media screen and (min-width: 1000px) and (max-width: 1450px) {
  .Index_Banner_Two_Sec {
    max-width: 1200px;
  }
  .Index_Buisness_Banner {
    justify-content: space-between;
  }
  .Banner {
    min-height: 500px;
    max-height: 600px;
  }
  .About-Us_Newsletter .right .content .NewsLetter_Button {
    width: 70%;
  }
  .About-Us_Newsletter .right .content .Whatsapp_Button {
    width: 70%;
  }
  .About-Us_Newsletter .right .content .contact_Detail {
    padding-bottom: 10px;
  }
  .Contact-Us_Banner {
    min-height: 500px;
    max-height: 600px;
  }
  .Contact-Us_Banner .content {
    top: 40%;
  }
  .contact-us-overflow-main .Content .icon-div .left .container {
    width: 80%;
  }
  .contact-query-form form .submit-btn {
    width: 50%;
  }
  .contact-query-form form .Whatsapp_Button {
    width: 50%;
  }
  .Find-Work-Banner .down .main .content {
    max-width: 1200px;
  }
  .Find_work_contact_form {
    max-width: 1200px;
  }
  .Find_work_contact_form
    .right_container
    .contact-query-form
    form
    .Whatsapp_Button {
    width: 80%;
  }
  .Find_work_contact_form
    .right_container
    .contact-query-form
    form
    .submit-btn {
    width: 80%;
  }
  .Event_Booking-Banner .upper {
    max-height: 400px;
  }
  .Staff_Desc {
    max-width: 1200px;
  }
  .courses_overflow .Contact-Us_Banner {
    min-height: 400px;
    max-height: 500px;
  }
  .contact-us-overflow-main .Content .Main .search {
    width: 50%;
  }
  .permanent-job .Register_Div {
    max-width: 1200px;
  }
  .casual-staff .Find_work_contact_form .right_container {
    width: 40%;
  }
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
  .Navbar {
    justify-content: space-between;
  }
  .Hide_On_Tab {
    display: none;
  }

  .Navbar .main .fa-bars {
    display: block;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  .Tab_Burger {
    width: 25% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Banner {
    min-height: 400px;
    max-height: 700px;
  }
  .Banner h2 {
    font-size: 30px;
    line-height: normal;
  }
  .Banner .content .two_button button {
    width: 45% !important;
    font-size: 20px;
    height: 60px;
  }
  .Banner .content .Bottom_Button {
    height: 60px;
    font-size: 20px;
  }

  .Link_Section {
    left: 95%;
  }

  .Service_Slider_Container .Service_Slider .Main {
    width: 400px !important;
    height: 420px !important;
  }
  .Service_Slider_Container .Service_Slider .Main img {
    width: 100%;
  }
  .Index_Banner_Two_Sec {
    max-width: 900px !important;
  }
  .Index_Banner_Two_Sec .left img {
    width: 100%;
  }
  .Index_Banner_Two_Sec .right .content h5 {
    font-size: 30px;
    line-height: normal;
  }


  .Index_Buisness_Banner{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .Index_Buisness_Banner .left {
    width: 90%;
    margin: auto;
  }
  .Index_Buisness_Banner .left h5 {
    font-size: 30px;
    max-width: 100%;
  }
  .Index_Buisness_Banner .left p {
    max-width: 100%;
  }
  .Index_Buisness_Banner .right{
    width: 100%;
  }
  .Index_Buisness_Banner .right img {
    max-height: 300px;
    width: auto;
  }

  .AboutUs h2{
    padding-top: 20px;
    font-size: 30px;
  }
  .AboutUs .content {
    top: 0;
    left: 0;
    transform: none;
  }

  .About_Us-Content h5{
    font-size: 30px;
  }
  .About_Us-Content p{
    font-size: 14px;
    margin-top: 0px;
  }

  .About_Us-two_Sec {
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  .About_Us-two_Sec .left{
    width: 50%;
  }
  .About_Us-two_Sec .left img{
    width: 100%;
  }
  .About_Us-two_Sec .right {
    width: 50%;
  }
  .About_Us-two_Sec .right p {
    font-size: 14px;
  }
  

  .About-Us_Newsletter{
    max-height: 100%;
  }
  .About-Us_Newsletter .right .content {
    width: 100%;
    padding: 20px;
  }
  .About-Us_Newsletter .right .content h5  {
    font-size: 25px;
    line-height: normal;
  }
  .About-Us_Newsletter .right .content .desc {
    font-size: 14px;
  }
  .About-Us_Newsletter .right .content .NewsLetter_Button {
    width: 90%;
    height: 45px;
  }
  .About-Us_Newsletter .right .content .Whatsapp_Button {
    width: 90%;
    height: 45px;
  }

  .Event_Booking-Banner .upper h5 {
    font-size: ;
  }

}

@media screen and (min-width: 600px) and (max-width: 980px) {
}
